<!-- index.html -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask-Project</title>
</head>

<body>
    <p>{{ title }}</p>
    <hr>
    <p>作成したモデル</p>
    <table>
        <tr>
            <td>クラス数</td>
            <td>epochs</td>
        </tr>
        {% for x in model_list %}
        <tr>
            <td>{{ x["class"] }}</td>
            <td>{{ x["epochs"] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>