<!-- index.html -->
{% extends "layout.html" %}

{% block title %}
RakugakiBattle
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<h3>ようこそ</h3>
<p>ここでは機械学習を用いて絵の種類を判定します</p>

<div class="col s4">
    <!-- Promo Content 1 goes here -->
    <img src="../static/img/art.png" alt="">
    <h5>What is RakugakiBattle ?</h5>
    <p>お絵かき対戦ゲーム</p>
</div>
<div class="col s4">
    <!-- Promo Content 2 goes here -->
    <img src="../static/img/shinapus.png" alt="">
    <h5>What is AI ?</h5>
    <p>機械学習</p>
</div>
<div class="col s4">
    <!-- Promo Content 3 goes here -->
    <img src="../static/img/html.png" alt="">
    <h5>Program information</h5>
    <p>here</p>
</div>
{% endblock %}