<!-- layout.html -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="../static/index.js"></script>

    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>

    <nav class="#26a69a teal lighten-1" id="header">
        <div class="nav-wrapper #26a69a teal lighten-1 container">
            <a href="/" class="brand-logo">Rakugaki Battle</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/model_info/model1">model info</a></li>
                <li><a href="/log/model1">log</a></li>
                <li><a href="https://quickdraw.withgoogle.com/">quickdraw</a></li>
                <li><a href="http://www-ie.meijo-u.ac.jp/~yamada/index.html">山田(啓)研HP</a></li>
                <li><a href="https://github.com/RyoTsuiki/RakugakiBattle">Github</a></li>
                <!-- Dropdown Trigger -->
            </ul>
        </div>
        {% block nav %}
        {% endblock %}
    </nav>
    <div class="row container">
        {% block content %}
        {% endblock %}
    </div>


</body>
