<!-- ml.html -->
{% extends "layout.html" %}

{% block title %}
{{ model_name }}
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<h3>機械学習とは</h3>
<p>機械学習を「機械」と「学習」で分けてみます.</p>
<h4>機械</h4>
<p>計算することができる機械.</p>
<p>単純に パソコン(PC)</p>
<h4>学習</h4>
<p>過去の事例 (学習データ) から, 未来の問題解決のための知識を獲得すること.</p>
<p>どのような知識を獲得するかはいろいろな方法があります.</p>
<p><a href='https://www.google.com/search?q=%E6%A9%9F%E6%A2%B0%E5%AD%A6%E7%BF%92+%E6%89%8B%E6%B3%95&oq=%E6%A9%9F%E6%A2%B0%E5%AD%A6%E7%BF%92+%E6%89%8B%E6%B3%95&aqs=chrome..69i57j0l4.7777j1j7&sourceid=chrome&ie=UTF-8'>参考</a></p>
<h3>用語のいろいろ</h3>
<p>機械学習は AI の中に入ります.</p>
<p><img src='..\static\img\containment relation.PNG' alt='' referrerPolicy='no-referrer' /></p>
<p>右下, 一番濃い緑の部分に書かれている 「畳み込みニューラルネットワーク」を今回使用しました.</p>
{% endblock %}
