<!-- model.html -->
{% extends "layout.html" %}

{% block title %}
{{ model_name }}
{% endblock %}

{% block content %}
<table class="striped">
    <thead>
        <tr>
            {% for head in heads %}
            <th>{{ head }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for value in value_list %}
        <tr>
            {% for x in value %}
            <th>{{ x }}</th>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}